# Maven / Java
backend/target/
backend/.mvn/
backend/*.jar
backend/*.war

# Node / React
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Logs and databases
*.log
*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.class
*.iml

# Local env files
*.local
.env
.env.*
