@import "tailwindcss";

body {
  margin: 0;
  background-color: #020617; /* bg-slate-950 */
  color: #f8fafc; /* text-slate-50 */
}

/* Custom Scrollbar Styles for premium telemetry look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* hover emerald-500 thumb */
}
